{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{% block title %}E-Farmer Portal{% endblock %}</title>
    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
    var csrftoken = getToken('csrftoken');
	</script>
  
</head>

<body>
  <!-- Side navigation -->
  <div class="bg-nav d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h2 class="my-0 mr-md-auto font-weight-normal text-light">E-Farmer Portal</h2>
  <nav class="my-2 my-md-0 mr-md-3">

    <a class="p-2 text-light" href="/login/dashboard/profile">Profile</a>
    <a class="p-2 text-light" href="/login/dashboard/detail">Details</a>
    <a class="p-2 text-light" href="/login/dashboard/store">Store</a>
    <a class="p-2 text-light" href="/login/dashboard/forum">Community Forum</a>
    <a class="p-2 text-light" href="/login/dashboard/cart">
        <img id="cart-icon" src="{% static 'images/cart.jpg' %}" >Cart
    </a>
    <p id="cart-total">{{cartItems}}</p>
    <a class="p-2 text-light" href="/logout">Logout</a>

      <!--<p id="cart-total">0</p>-->

  </nav>

</div>

  <!-- Page content -->
  <div class="main">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="mt-2">E-Farmer Portal</h1>
        <hr class="mt-0 mb-4">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>